ul {color: rgb(27, 51, 158);}

h1{
    background: rgb(31, 105, 118)
    
}

h2 {color:rgb(46, 12, 78)}

HTML {
    background-color: rgb(220, 149, 217);
}

P{
    background-color:rgb(236, 184, 220);
    padding:20px;
    margin:50px;
    font-size:10px
}

IMG{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:40%;

}

#minion {width:50%;}